parameters:
    level: 8

    paths:
        - src

    autoload_files:
        - vendor/autoload.php

    checkGenericClassInNonGenericObjectType: true
    checkMissingIterableValueType: true
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
